.contacto {
    display: flex;
    gap: 24px;
}
.contacto div {
    width: 100%;
}
.contacto h2 {
    color: #B68D40;
}
.contacto p {
    font-size: 12px;
}
.datos p {
    font-size: 14px;
}
.datos ul li {
    font-size: 13px;
}
.formulario p {
    display: flex;
}
.formulario p label {
    min-width: 50px;
}

.formulario p label {
    display: flex;
    align-items: center;
}
.formulario p:nth-child(4) {
    align-items: start;
}
.formulario textarea {
    resize: none;
    height: 150px;
    width: 350px;
    background-color: #D6AD60;
    border-radius: 2%;
}
.formulario input[type="text"] {
    resize: none;
    width: 350px;
    background-color: #D6AD60;
    box-shadow: 0 0 0.4px #666;
    border-color: #666;
}
.formulario input[type="submit"] {
    background: #B68D40;
    box-shadow: 0 0 0.4px #666;
    color: white;
    font-size: 12px;
    padding: 6px 20 px;
    width: auto;
    position: relative;
    left: 3rem;
    cursor: pointer;
    border-radius: 10%;
    border-color: #666;
}
.formulario input[type="submit"]:hover {
    background-color: #D6AD60;
    position: relative;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(49, 47, 36);
    font-size: large;
    font-weight: bold;
}