.curso {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.curso .info h4 {
    color:#3B3730;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #3B3730;
    padding-bottom: 10px;
}
.curso .info p{
    font-size: 13px;
}

.curso img {
    border-radius: 13px;
    display: block;
    max-width: 225px;
}

.curso:nth-child(even) {
    flex-direction: row-reverse;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(49, 47, 36);
    font-size: large;
    font-weight: bold;
}