.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 15px;
}

.testimonio {
    background-color: #B68D40;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.testimonio .autor {
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}

.imagenInicio img {
    border-radius: 13px;
    display: flex;
    max-width: 400px;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(49, 47, 36);
    font-size: large;
    font-weight: bold;
}